<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Community Project in Braamfontein</title>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-responsive.min.css">
		<link rel="stylesheet" type="text/css" href="css/braamies.css">
		<script src="/angular-1.0.7/angular.js" ></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/bootstrap/js/bootstrap.js" ></script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<div class="nav-collapse collapse">
						<ul class="nav pull-right">
							<li class>
								<a href="#">home</a>
							</li>
							<li class>
								<a href="#">Sign Up</a>
							</li>
							<li class>
								<a href="#">Log In</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<header class="jumbotron subhead">
			<div class="container">
				<h1>Welcome to Braamies!</h1>
				<p class="lead">A community-driven project management</p>
				<blockquote class="pull-right">
					<p>Many ideas grow better when transplanted into another mind than the one where they sprang up</p>
					<small>Oliver W. Holmes</small>
				</blockquote>
			</div>
		</header>
		
	</body>
</html>