<div class="container">
	<div class="span8 offset2">
		<div class="hero-unit">
			<form class="form-horizontal" name="updateProjectForm">
				<h2>Update Project</h2>
				<p>Please enter all the details to update a project</p>
				<fieldset>
					<legend></legend>
					<div class="control-group" ng-class="{error: updateProjectForm.title.$invalid}">
						<label class="control-label" for="title">Title</label>
						<div class="controls">
							<input class="span3" ng-model="updateProject.title" name="title" type="text" size="24" placeholder="{{updateProject.title}}" required>
						</div>
					</div>
					<div class="control-group" ng-class="{error: updateProjectForm.description.$invalid}">
						<label class="control-label" for="description">Description</label>
						<div class="controls">
							<textarea class="span4" ng-model="updateProject.description" name="description" rows="3" placeholder="{{updateProject.description}}" required></textarea>
						</div>
					</div>
					<div class="control-group" ng-class="{error: updateProjectForm.projecturl.$invalid}">
						<label class="control-label" for="projecturl">URL</label>
						<div class="controls">
							<input class="span3" ng-model="updateProject.projecturl" name="projecturl" type="url" size="24" placeholder="{{updateProject.projecturl}}" required>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="status">Project Status</label>
						<div class="controls">
							<select name="status" ng-model="updateProject.status" ng-options="sValue for sValue in statusValues"></select>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<div class="control-group pull-right">
						<button class="btn btn-success" ng-click="changeProject()" ng-disabled="updateProjectForm.$invalid">Update</button>
						<button class="btn btn-danger" ng-click="deleteProject()">Delete</button>
						<a href="/" class="btn">Cancel</a>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>