<div class="container">
	<div class="masthead">
		<h3 class="muted">Welcome to Braamies!</h3>

		<!-- fixed navbar -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<div class="nav-collapse collapse">
						<ul class="nav pull-right">
							<li class=""><a href="/"><i class="icon-home"></i>Home</a></li>
							<li class="divider-vertical"></li>
							<li class="" ng-show="!loggedIn()"><a href="/login">Log In</a></li>
							<li class="dropdown" id="user-menu" ng-show="loggedIn()">
								<a class="dropdown-toggle" href="#" data-toggle="dropdown">Welcome, {{general.username}}
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li class="" ng-show="canDevelop()"><a tabindex="-1" href="">Start Project</a></li>
									<li class="" ng-show="canDevelop()"><a tabindex="-1" href="">Complete Project</a></li>
									<li class="divider" ng-show="canDevelop()"></li>
									<li class="">
										<a tabindex="-1" href="/new">Create Project</a>
									</li>
									<li class="divider"></li>
									<li class="">
										<a tabindex="-1" href="/logout"><i class="icon-off"></i> Log Out</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="alert alert-error pagination-centered" ng-show="hasLoginFailed()">
		<a class="close" data-dismiss="alert" href="#">x</a>
		{{general.loginOrSignupFailureMessage}}
	</div>

	<div class="hero-unit">
		<blockquote class="pull-right">
			<p>Many ideas grow better when transplanted into another mind than the one where they sprang up</p>
			<small>Oliver W. Holmes</small>
		</blockquote>
	</div>

	<div class="jumbotron">
		<h1>Contribute to your community</h1>
		<p class="lead">Submit new project ideas or contibute to existing projects using technology</p>
		<div class="download-info">
			<a class="btn btn-large btn-success" href="/signup" ng-show="!loggedIn()">Sign Up</a>
			<a class="btn btn-large btn-warning" href="/list" ng-show="loggedIn()">View Projects</a>
		</div>
	</div>
</div>