<div class="container">
	<div class="masthead">
		<h3 class="muted">Welcome to Braamies!</h3>

		<!-- fixed navbar -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<div class="nav-collapse collapse">
						<ul class="nav pull-right">
							<li class=""><a href="/"><i class="icon-home"></i>Home</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<form class="form-search form-horizontal pull-right">
		<div class="input-append">
			<input type="text" class="input-medium search-query" ng-model="query" placeholder="Search">
			<button class="btn" ng-click="resetAll()" ng-disabled="!query" type="submit"><i class="icon-search"></i></button>
		</div>
		<button class="btn btn-info" type="submit" ng-click="query=' '; resetAll()" ng-disabled="query">Reset</button>
	</form>

	<div class="span8 offset2 hero-unit">
		<table class="table table-stripped table-condensed">
			<thead>
				<th>Title</th>
				<th>Code Name</th>
				<th>URL</th>
				<th>Status</th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat="project in projects">
					<td>{{project.title}}</td>
					<td>{{project.codename}}</td>
					<td>{{project.projecturl}}</td>
					<td><span class="label {{statusLabelClass(project.status)}}">{{project.status}}</span></td>
					<td><a href="/edit/{{project.codename}}"><i class="icon-edit"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>